.alert {
  transition: 0.3s all ease-out, 0.3s padding ease-out 0.1s;
  @extend .card-panel, .lighten-4, .text-darken-4;

  &.alert-success {
    @extend .green, .green-text;
  }

  &.alert-info {
    @extend .blue, .blue-text;
  }

  &.alert-warning {
    @extend .yellow, .yellow-text;
  }

  &.alert-danger {
    @extend .red, .red-text;
  }

  &.invisible {
    margin: 0;
    padding: 0;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 0.5rem;

    color: inherit;
    margin-top: -18px;
  }
}