/* Importar input-groups do Bootstrap */
@import 'input-groups.scss';

/* Ãcones material design */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	background: #efefef;
}
main > .container {
	width: 95%;
}
header, main, footer {
	padding-left: 300px;
    transition: 0.3s ease-in-out;
}
.side-nav {
  transition: 0.3s ease-in-out;
}
body.hide-side-nav {
  .side-nav {
    left: -300px;
  }
  header, main, footer {
    padding-left: 0;
  }
}
@media only screen and (max-width: 992px) {
.side-nav.fixed {
  transform: translateX(0) !important;
}
}
.btn input {
	outline: 0;
}
a {
  cursor: pointer;
}
th[scope="col"] {
	a.asc, a.desc {
		float: left;
		&:after, &:after {
			content: 'arrow_drop_down';
			margin-top: -2px;
			float: right;
			@extend .material-icons;
		}
	}
}
.input-field.select {
  z-index: 1;
}

.filtros .submit .btn {
	height: 46px;
	width: 100%;
	button {
		height: 100%;
	}
}
.paginator li > a:not(.number) {	
	padding: 0;
}
$breadcrumb-color: #666;
.card-panel .breadcrumb {
  font-size: 14px;
  color: $breadcrumb-color;
  &:last-of-type {
    color: darken($breadcrumb-color, 20%);
    font-weight: 500;
  }
}

.card-panel .breadcrumb:before {
  color: $breadcrumb-color;
  font-size: 18px !important;
  line-height: 22px !important;
}
.row.title h4 {
  margin: 0;
}
label.active {
  z-index: 1;
}
.select.input-field .select2 {
  margin-bottom: 20px;
}

/* Forms */
.input-group {
  margin-bottom: 12px;
}
.input-group-btn {
  padding: 9px 0;
}
.btn.btn-small {
  padding-left: 10px;
  padding-right: 10px;
}
.switch-wrapper {
  height: 50px;
  .switch label input[type=checkbox]:checked + .lever + .lever-ativo {
    color: #2e4e6a;
    font-weight: bold;
    transition: 0.3s all;
  }
}
.input-field.checkbox:not(.switch-wrapper) label {
  left: 0 !important;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  top: 0;
  left: 0 !important;
  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
.ativo {
  color: darkgreen;
}
.inativo {
  color: darkred;
}

.input-field {
  transition: 0.3s all ease-in-out;
  opacity: 1;
  visibility: visible;
  max-height: 100%;
  transform: translateY(0%);
}
.invisible {
  opacity: 0;
  max-height: 0;
  margin: 0;
  visibility: hidden;
  transform: translateY(-50%);
}
.error-message {
  color: #F44336;
  font-size: 11px;
  transform: translateY(-16px);
}

/* Menu lateral (nav) */
#logo-container {
  height: 98px;
  padding: 15px 30px 0;
  &:hover {
    background-color: transparent;
  }
}
.nav-separator {
  margin: 15px 0;
  background: url(../img/separador.png) no-repeat center;
  width: 100%;
  min-height: 2px;
}
#expandir-menu {
  float: left;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding: 0 20px;
  margin-right: 20px;
  cursor: pointer;
}
.brand-logo {
  font-weight: 100;
}

/* Tabela de compras */
.remover-item i, .remover-lote i {
  color: red;
  line-height: 140%;
}

tr.produto {
  .input-field {
    margin-top: 0;
    input {
      margin-bottom: 0;
    }
  }
}
tr.lote {
  td {
    background: #f9f9f9;
    padding: 10px 5px;
  }
}
.input-small {
  margin-top: 0.8rem;

  input {
    margin: 0 !important;
    height: 2rem !important;
  }
  label {
    font-size: 0.8rem !important;
    transform: translateY(-140%) !important;
  }
}
/* Compra */
#tabela-produtos {
  tfoot, .sem-produtos {
    transition: 0.3s all ease-in-out;
  }
  .sem-produtos.invisible {
    border-bottom-style: none;
    & > td {
      line-height: 0px;
      font-size: 0px;
      height: 0px;
      margin: 0;
      padding: 0;
    }
  }
}